.event-empty {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;

  &--not-found {
    margin-top: 5rem;
  }

  &__container {
    display: flex;
    width: 50vw;
    flex-direction: column;
    gap: 1rem;
  }

  &__icon {
    display: flex;
    justify-content: center;
    margin-top: 3rem;

    img {
      width: 30%;
      height: auto;
    }
  }
  &__title {
    text-align: center;
    font-weight: 500;
    font-size: 2.4rem;
    margin-top: 1rem;
  }
  &__desc {
    text-align: center;
    color: #777e8e;
    line-height: 1.9rem;
  }
}
