.event {
  display: grid;
  height: 100vh;
  padding: 0 5rem;
  gap: 1rem;
  grid-template-rows: repeat(2, min-content);
  overflow-x: hidden;
  overflow-y: auto;

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__heading {
    margin: 3rem 0 2rem 0;
    font-size: 2rem;
    font-weight: 600;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin-bottom: 10rem;
  }

  &__card {
    position: relative;
    box-shadow: 0 5px 10px -4px rgb(0 0 0 / 25%);
    transition: box-shadow 200ms;
    border-radius: 0.8rem;
    overflow: hidden;
    cursor: pointer;

    &:hover {
      box-shadow: 2px 5px 15px 0px rgb(0 0 0 / 25%);
    }
  }

  &__content {
    display: grid;
    padding: 0 2rem;
    gap: 1rem;
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 20rem;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__title {
    margin-top: 1rem;
    font-weight: 500;
  }

  &__featured {
    display: flex;
    position: absolute;
    height: 1.9rem;
    top: 1rem;
    right: 0rem;
    line-height: 1.8rem;
    padding: 0 1rem 0 1.5rem;
    font-size: 1.3rem;
    align-items: center;
    color: #fff;
    background: #f39c12;
    background: linear-gradient(to right, #f1c40f, #f39c12);
    border-bottom-left-radius: 0.7rem;

    svg {
      position: absolute;
      height: 2.4rem;
      left: 0;
      transform: translate(-1.2rem, -0rem);
      color: #fff;
      fill: #f1c40f;
      filter: drop-shadow(0 0 5px #f39c12);
    }
  }

  &__desc {
    display: -webkit-box;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 1rem;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__location {
    color: #777e8e;

    svg {
      transform: translateX(-0.2rem);
    }
  }

  &__date {
    color: #777e8e;
    margin-bottom: 2rem;

    svg {
      width: 1.8rem;
      transform: translateX(-0.1rem);
    }
  }
}
